.container {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #d0d1d3;
  padding: 0 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container h2 {
  color: #767676;
  font-weight: 400;
  margin-right: 0.5rem;
}

.cartButton {
  margin-right: 0.5rem;
  background: transparent;
  border: none;
}

.cartImage {
  margin-top: 0.3rem;
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(48%) sepia(5%) saturate(17%) hue-rotate(358deg) brightness(95%)
    contrast(86%);
}

.cartImage:hover {
  filter: none;
}

.cartAmountBtn,
.wishlistAmountBtn {
  padding: 0 0.4rem;
  vertical-align: middle;
  position: relative;
  top: -1.2rem;
  left: -0.5rem;
  border-radius: 50%;
  background-color: #ff4e00;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
}

.wishlistAmountBtn{
  top: -1.15rem;
}

.increase {
  opacity: 0.8;
}

.wishList {
  margin-right: 0.5rem;
  background: transparent;
  border: none;
}

.wishList img {
  margin-top: 0.3rem;
  width: 1.3rem;
  height: 1.3rem;
  filter: invert(48%) sepia(5%) saturate(17%) hue-rotate(358deg) brightness(95%)
    contrast(86%);
}
.wishList img:hover {
  filter: none;
}
