@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Macondo&family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,300;0,600;1,500&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #ededed;
  font-family: 'Montserrat', sans-serif;

}